@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .form {
    @apply block min-w-[320px] max-w-xl px-4 h-60 mx-auto;
  }
  .input {
    @apply mt-1 py-3 px-3 text-black text-base w-full rounded-lg bg-gray-200 border outline-none placeholder:text-base placeholder:text-gray-500 transition-all focus:border-black/40;
  }
  .noteInput {
    @apply mt-1 py-3 px-3 text-black text-base w-full rounded-lg bg-white border border-black/40 outline-none placeholder:text-base placeholder:text-gray-500 transition-all focus:border-black;
  }
}
